#cir-title {
  text-align: center;
  font-size: 350%;
}

#cir-de {
  text-align: center;
  font-size: 250%;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

#cir-d {
  font-size: 90%;
}

.cir-photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#cir-a {
  font-size: 90%;
  float: left;
  margin-left: 200px;
}

#cir-c {
  font-size: 90%;
  float: right;
  margin-right: 120px;
}

#cir-area {
  font-size: 300%;
  position: fixed;
  top: 275px;
  left: 100px;
}

#cir-cir {
  font-size: 300%;
  position: fixed;
  top: 275px;
  right: 100px;
}
