.cone-photo {
  position: fixed;
  top: 10px;
  right: 10px;
}

#cone-title {
  text-align: center;
  font-size: 300%;
}

.cone-var {
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 50px;
}

#cone-r {
  font-size: 95%;
}

#cone-h {
  font-size: 95%;
}

#cone-v {
  font-size: 95%;
}

#cone-radius-button {
  font-size: 150%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cone-height-button {
  font-size: 150%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cone-volume-button {
  font-size: 150%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cone-radius {
  font-size: 150%;
}

#cone-height {
  font-size: 150%;
}

#cone-volume {
  font-size : 150%;
}

#cone-radius-word {
  font-size: 150%;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
}

#cone-height-word {
  font-size: 150%;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
}

#cone-volume-word {
  font-size: 150%;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
}
