.indPhoto {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#indHeading {
  text-align: center;
  font-size: 350%;
}

#indPara {
  font-size: 150%;
}

.indButtons {
  font-size: 150%;
}
