.ind-photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#ind-heading {
  text-align: center;
  font-size: 350%;
}

#ind-para {
  font-size: 150%;
  text-align: center;
}

#circle {
  font-size: 150%;
  margin-left: 30%;
}

#trapezoid {
  font-size: 150%;
}

#rectangular {
  font-size: 150%;
}

#triangle {
  font-size: 150%;
}

#cone {
  font-size: 150%;
}
