#rectImage {
  position: fixed;
  top: 75px;
  right: 25px;
}

#rectTitle {
  text-align: center;
  font-size: 300%;
}

.rectVar {
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 50px;
}

#rectL {
  font-size: 95%;
}

#rectB {
  font-size: 95%;
}

#rectH {
  font-size: 95%;
}

#rectButton {
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#rectArea {
  font-size: 150%;
}

#rectVolume {
  font-size: 150%;
}

#rectAreaWord {
  font-size: 150%;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
}

#rectVolumeWord {
  font-size: 150%;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
}
