.tri-photo {
  position: fixed;
  top: 10px;
  right: 10px;
}

#tri-title {
  text-align: center;
  font-size: 300%;
}

.tri-var {
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 50px;
}

#tri-b {
  font-size: 95%;
}

#tri-h {
  font-size: 95%;
}

#tri-a {
  font-size: 95%;
}

#tri-area-button {
  font-size: 150%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tri-height-button {
  font-size: 150%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tri-area {
  font-size: 150%;
}

#tri-height {
  font-size: 150%;
}

#tri-area-word {
  font-size: 150%;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
}

#tri-height-word {
  font-size: 150%;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
}
